.Container {
  @media screen and (min-width: 414px) {
    margin: 0 auto;
    width: 414px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
