@import '../../../../styles/refs.scss';

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

.dnd {
  .dropArea {
    position: relative;
    padding-top: 75px;
    margin: 0 auto;
    width: 100%;
    height: 320px;
    border: 1px dashed transparent;

    &Active {
      @extend .dropArea;
      position: absolute;
      top: 0;
      left: 20px;
      width: calc(100% - 40px);
      background-color: red;
      border: 1px dashed $primaryBorderColor;
    }

    &__info {
      position: absolute;
      left: 50%;
      transform: translateX(-90px);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      width: 180px;
    }

    &__thumb {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background-image: url('./defaultIcon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $primaryWhiteColor;
      border: 1px solid $primaryBlackColor25;
      border-radius: 50%;
      overflow: hidden;
    }

    &__image {
      display: block;
      max-width: 80px;
      max-height: 80px;
      object-fit: contain;
      object-position: center;
    }

    &__conditionsText {
      padding-top: 15px;
      margin-bottom: 7px;
    }

    &__input {
      position: absolute;
      top: 0;
      left: 20px;
      padding-top: 218px;
      width: calc(100% - 40px);
      height: 100%;
      color: transparent;
      cursor: pointer;
    }

    &__input::-webkit-file-upload-button {
      visibility: hidden;
    }

    &__input::before {
      content: attr(data-btn-content);
      display: block;
      margin: 0 auto;
      width: 140px;
      font-size: 14px;
      text-align: center;
      line-height: 1;
      white-space: nowrap;
      color: $primaryTextColor;
      overflow: none;
      cursor: pointer;
    }

    &__btnCancel {
      position: absolute;
      top: 218px;
      left: 50%;
      transform: translateX(-50px);
      width: 100px;
      height: 20px;
      color: $linkColor;
      text-align: center;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $activeLinkColor;
      }
    }
  }

  // Preloader
  .preloader {
    position: relative;
    width: 80px;
    height: 80px;

    &__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -39px 0 0 -39px;
      height: 78px;
      width: 78px;
      background: $primaryWhiteColor;
      border-radius: 100%;
      z-index: 6;
    }

    &__thumb {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78px;
      height: 78px;
      background-color: $primaryWhiteColor;
      border: 1px solid transparent;
      border-radius: 50%;
      overflow: hidden;
      background-image: url('./defaultIcon.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    &__bar {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $primaryBlackColor10;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      clip: rect(0, 80px, 80px, 40px);

      &Left {
        @extend .preloader__bar;

        .preloader__progress {
          z-index: 1;
          animation: left 1s linear both;
        }
      }

      &Right {
        @extend .preloader__bar;
        z-index: 3;
        transform: rotate(180deg);
        animation: reght 1s linear both;

        .preloader__progress {
          animation: right 1s linear both;
          animation-delay: 1s;
        }
      }
    }

    &__progress {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      clip: rect(0, 40px, 100px, 0);
      background: $activeLinkColor;
    }
  }
}
