@import '../../styles/refs.scss';

.Container {
  // background-color: pink;

  @media screen and (min-width: $mobilePlus) {
    margin: 0 auto;
    width: $mobilePlus;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.HeaderContainer {
  position: relative;
  padding: 0 25px 0 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $mobilePlus) {
    margin: 0 auto;
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    // width: $desktop;
    max-width: $desktopLarge;
  }
}
