@import '../../../../styles/refs.scss';

.Feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 20px;
}

// Recursion
.block {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: pink;
}

.button {
  padding: 10px 20px;
  color: $primaryWhiteColor;
  background-color: $linkColor;
  border-radius: 4px;
  cursor: pointer;
}
