@import '../../../../styles/refs.scss';

.Feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 40px;
}

// Recursion
.RecursionResultTitle {
  margin-bottom: 20px;
  color: $primaryBlackColor75;
}

.RecursionResultItem {
  margin-bottom: 5px;
  color: $primaryTextColor;
}
