@import '../../../styles/refs.scss';

.Article {
  padding: 20px;
  // background-color: skyblue;

  @media screen and (min-width: $tablet) {
    padding: 30px 40px 50px;
  }

  @media screen and (min-width: $desktop) {
    padding: 30px 50px 50px;
  }
}
