// Viewport (Not to change) -------- *
$mobile: 375px;
$mobilePlus: 414px;
$tablet: 768px;
$desktop: 1200px;

$mobileMax: 374px;
$mobilePlusMax: 413px;
$tabletMax: 767px;
$desktopMax: 1199px; // ---------- *

// Colors
$primaryBlackColor: #282c34;
$primaryBlackColor75: #282c34bf;
$primaryBlackColor50: #282c3480;
$primaryBlackColor25: #282c3440;
$primaryWhiteColor: #ffffff;

// Text
$primaryTextColor: #6b85a3;
$primaryTitleColor: #1a2533;
$conditionsTextColor: #324964;

// Links
$linkColor: #5b78ad;
$activeLinkColor: #6ecab6;

// Bg
$BG__Light: #f9fbfd;
$BG__GreyBlue: #38475af6;

// Borders
$primaryBorderColor: #e8f1fb;

$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
