@import '../../styles/refs.scss';

.AdminDashboard {
  position: relative;
  display: flex;
  padding: 20px;
  min-height: 55vh;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__form {
    position: relative;
    padding: 50px;
    width: 100%;
    max-width: 380px;
    text-align: center;
    border: 1px solid $primaryBorderColor;
    border-radius: 4px;
    box-shadow: $primaryShadow;
  }

  &__title {
    margin: 0 0 30px;
    color: $primaryBlackColor75;
  }

  &__error {
    position: absolute;
    top: 165px;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 12px;
    color: red;
  }

  &__toggleLink {
    font-size: 14px;
    color: $primaryBlackColor35;

    &:hover {
      cursor: pointer;
      color: $linkColor;
    }
  }
}

.Display {
  width: 50%;
  height: 65vh;
  background-color: yellowgreen;
  overflow: scroll;
}

.Controls {
  width: 50%;
  background-color: skyblue;
}

.ViewList__list {
  background-color: tomato;
  overflow: scroll;
}

.ViewList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: teal;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.ViewList__title {
  margin-right: 100px;
  color: white;
  background-color: red;
}
