@import '../../../styles/refs.scss';

@keyframes HeaderLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #282c34;

  @media screen and (min-width: $desktop) {
    height: 40px;
  }

  &__logoLink {
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

  &__logoImg {
    height: 24px;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: HeaderLogoSpin infinite 20s linear;
    }
  }

  &__logoName {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    color: white;

    @media screen and (min-width: $desktop) {
      font-size: 18px;
    }
  }

  &__menuBtn {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    cursor: pointer;

    @media screen and (min-width: $desktop) {
      width: 40px;
    }

    & > svg {
      width: 18px;
      height: 18px;
      fill: white;
    }
  }
}
