@import '../../../styles/refs.scss';

.Nav {
  @media screen and (min-width: $tablet) {
    text-align: center;
    border-bottom: 1px solid $primaryBorderColor;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    @media screen and (max-width: $tabletMax) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      height: 50px;
    }

    @media screen and (min-width: $tablet) {
      height: 40px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  // a
  &__link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $primaryWhiteColor;
    transition: all 250ms $cubicBezier;

    @media screen and (min-width: $mobile) {
      font-size: 20px;
    }

    @media screen and (min-width: $tablet) {
      color: $primaryTextColor;
    }

    @media screen and (min-width: $tablet) {
      font-size: 12px;

      &:hover {
        text-decoration: none;
        text-decoration: underline;
      }
    }
  }
}
