@import '../../../styles/refs.scss';

.Nav {
  @media screen and (min-width: $desktop) {
    // background-color: pink;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__item {
    @media screen and (max-width: $desktopMax) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  // a
  &__link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $primaryWhiteColor;
    transition: all 250ms $cubicBezier;

    @media screen and (min-width: $mobile) {
      font-size: 20px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 11px;
      color: #ccc;

      &:hover {
        text-decoration: none;
        color: $primaryWhiteColor;
      }
    }
  }
}
