@import '../../../styles//refs.scss';

@keyframes FooterLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 30px 40px;
  width: 100%;
  border-top: 1px solid $primaryBorderColor;
  font-size: 14px;

  // background-color: salmon;

  &__cotyrightWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__logoImg {
    height: 24px;
    pointer-events: none;
    fill: $primaryBlackColor50;

    @media (prefers-reduced-motion: no-preference) {
      animation: FooterLogoSpin infinite 20s linear;
    }
  }
  &__cotyright {
    color: $primaryBlackColor35;
  }
}
