@import '../../../../styles/refs.scss';

.Feature {
  min-height: 200px;
  padding: 20px;

  &__text {
    color: $primaryBlackColor75;
  }
}

.Button {
  width: 100%;
  max-width: 200px;
  height: 40px;
  color: $primaryWhiteColor;
  background-color: $BG__GreyBlue;
  border-radius: 4px;

  &:hover {
    background-color: $activeLinkColor;
    cursor: pointer;
  }
}

.DisableButton {
  width: 100%;
  height: 40px;
  color: $primaryWhiteColor;
  background-color: $activeLinkColor;
  border-radius: 4px;

  &:hover {
    background-color: $BG__GreyBlue;
    cursor: pointer;
  }
}
