@import '../../../styles/refs.scss';

.Container {
  // background-color: pink;

  @media screen and (min-width: $mobilePlus) {
    margin: 0 auto;
    width: $mobilePlus;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.HeaderContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $desktop) {
    max-width: $desktopLarge;
  }
}

.FooterContainer {
  position: relative;
  @media screen and (min-width: $mobilePlus) {
    margin: 0 auto;
    width: $mobilePlus;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
