// Bg
$bgColor: #f3f7fc;
$dropBgColor: #f5f9ff;
$dropBorderColor: #4991e5;

// Text
$primaryTextColor: #6b85a3;
$primaryTitleColor: #1a2533;
$conditionsTextColor: #324964;

// Borders
$dndBorderColor: #e8f1fb;
$thumbBorderColor: #d1e3f8;

// Others
$primaryWhiteColor: #ffffff;
$buttonTextColor: #4991e5;
$preloaderColor: #4991e5;
