@import '../../../styles/refs.scss';

// general style
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// -----------------------

.CategoryCards {
  &__container {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(250px, auto);
    padding: 10px;
    width: 100%;
    min-height: 100px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    list-style: none;

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(2, 200px);
    }
  }

  &__item {
    display: inherit;
    border: 1px solid #dddddd;
    border-radius: 4px;

    &:hover {
      background-color: #fafafa;
    }
  }

  &__btn {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: $primaryTextColor;
  }
}
