@import '../../../styles/refs.scss';

.SourcePanel {
  &__wrap {
    list-style: none;
  }
  &__link {
    display: block;
    display: flex;
    align-items: center;
    font-size: 14px;
    fill: $linkColor;
    color: $linkColor;

    &:hover {
      fill: $activeLinkColor;
      cursor: pointer;

      & > span {
        color: $activeLinkColor;
      }
    }
  }
  &__svgSource {
    margin-right: 7px;
  }
  &__linkAnchor {
    padding-top: 0px;
  }
}
