@import '../../../styles/refs.scss';

// general style
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// -----------------------

// section
.CategoryCards {
  // ul
  .CategoryList {
    display: flex;
    flex-wrap: wrap;

    // li
    .CategoryItem {
      margin-bottom: 40px;
      width: 100%;

      @media screen and (min-width: $tablet) {
        width: 215px;

        @media screen and (max-width: $desktopMax) {
          &:not(:nth-child(3n)) {
            margin-right: 21px;
          }
        }
      }

      @media screen and (min-width: $desktop) {
        width: 260px;

        &:not(:nth-child(4n)) {
          margin-right: 20px;
        }
      }

      // // h2
      // .categoryTitle {
      //   margin-bottom: 10px;
      //   font-size: 16px;
      //   font-weight: 600;
      // }

      // // a
      // .categoryLink {
      //   display: block;
      //   margin-bottom: 5px;
      //   font-size: 14px;
      // }

      // .activeCategoryLink {
      //   display: block;
      //   margin-bottom: 5px;
      //   font-size: 24px;
      //   color: red;
      // }
    }
  }
}
